
#acunetixwebscanner-toolbar-button
{
  list-style-image: url("chrome://acunetixwebscanner/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#acunetixwebscanner-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #acunetixwebscanner-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #acunetixwebscanner-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}

hr {
	color: #bba6bb; height: 1px; line-height: 15px; margin: 0px
}

.acunetixSplitter
{
	margin: 0;
	min-height: 1px;
}

.acunetixToolbarButon-test
{
	list-style-image: url("chrome://acunetixwebscanner/skin/start.ico");
}

.acunetixToolbarButon-reload
{
	list-style-image: url("chrome://acunetixwebscanner/skin/reload.ico");
}

.acunetixToolbarButon-add
{
	list-style-image: url("chrome://acunetixwebscanner/skin/add.ico");
}

.acunetixToolbarButon-remove
{
	list-style-image: url("chrome://acunetixwebscanner/skin/delete.ico");
}


.gohome-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/acunetix.ico");
}

[iconsize="small"] .gohome-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/acunetix.ico");
}

.start-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/start.ico");
}

[iconsize="small"] .start-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/start.ico");
}

.stop-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/stop.ico");
}

[iconsize="small"] .stop-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/stop.ico");
}

.setup-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/wrench.ico");
}

[iconsize="small"] .setup-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/wrench.ico");
}

.advanced-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/advanced.ico");
}

[iconsize="small"] .advanced-button {
  list-style-image: url("chrome://acunetixwebscanner/skin/advanced.ico");
}